@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.logo {
    color: white;
    text-decoration: none;
}

.roshambo {
    display: none;
}

h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 0;
    flex-grow: 2;
}

.game-area div {
    margin-bottom: 1em;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

button {
    background-color: dodgerblue;
    color: white;
}

button:hover {
    border-radius: 10px;
}

#easyBtn, #hardBtn {
    height: 50px;
}

.control {
    background-color:white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition:1s;
}

.computer-image, .player-image {
    width: 100%;
}

.scores {
    color: #333;
    font-weight: bold;
    font-size: 110%;
}

.player-computer-container {
    display: flex;
}

.reset {
    width: 100px;
    align-self: center;
    display: none;
}

button:hover, .control:hover {
    cursor: pointer;
    background-color: slateblue;
    transition: 0.7s;
}

/* The Modal container  */
#modal-container, #confirmationModal {
    display: none;
    position: absolute;
    z-index: 100;
    padding-top: 100px; 
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    width: 70%;
    margin-top: 20%;
    text-align: center;
  }

  /* The Close Button */
  .close {
    color: darkgray;
    float: right;
    font-size: 28px;
    font-weight: bolder;
  }
  
  .close:hover {
    color: #000;
    cursor: pointer;
  }

  .rules-image {
    max-width: 70%;
    max-height: 70%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.social-container {
    list-style: none;
    padding: 0;
}

.social-icons {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.copy-right {
    margin-top: 1em;
    font-size: 0.8em;
}

/* Media Queries for Responsive Design on screen sizes over 425px */
@media screen and (min-width: 425px) {

    .modal-content {
        width: 60%;
        margin-top: 30px;
    }

}
/* Media Queries for Responsive Design on screen sizes over 768px */
@media screen and (min-width: 768px) {
    .control {
        padding: 8px 16px;
        font-size: 14px;
    }

    .hands-image {
        width: 200px;
    }

    .player-computer-container {
    display: inline-flex;
    width: 40%;
    margin-bottom: 0px;
    }

    .modal-content {
        width: 40%;
        margin-top: 30px;
    }

}

/* Media Queries for Responsive Design on screen sizes over 1024px */
@media screen and (min-width: 1024px) {
    .modal-content {
        height: 50%;
        margin-top: 20px;
    }

    .rules-image {
        width: 50%;
        max-height: 50%;
    }
}
