/* Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.logo {
    color: white;
    text-decoration: none;
}

h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 0;
    flex-grow: 2;
}

.game-area div {
    margin-bottom: 1em;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.control {
    background-color:white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition:1s;
}

.computer-image, .player-image {
    width: 100%;
}

.scores {
    color: #333;
    font-weight: bold;
    font-size: 110%;
}

.player-computer-container {
    display: flex;
}

/* .rule-content {
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
} */

.modal {
    background: url(/assets/images/RoshomboRules.jpeg) no-repeat center/cover;
    width: 300px;
    height: 300px;
}

/* .close {
    position: relative;
    left: 135px;
    font-size: 150%;
    font-weight: bolder;
} */

button:hover, .control:hover {
    cursor: pointer;
    background-color: slateblue;
    transition: 0.7s;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.social-container {
    list-style: none;
    padding: 0;
}

.social-icons {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.copy-right {
    margin-top: 1em;
    font-size: 0.8em;
}
/* Media Queries for Responsive Design on screen sizes over 768px */
@media screen and (min-width: 768px) {
    .control {
        padding: 8px 16px;
        font-size: 14px;
    }

    .hands-image {
        width: 200px;
    }

.player-computer-container {
    display: inline-flex;
    width: 40%;
    margin-bottom: 0px;
}
}
